{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h2>Accueil</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <p>Bienvenue sur l'accueil</p>
</div>
</div>
{% endblock %}