{% extends 'base.html.twig' %}

{% block title %}CGU !{% endblock %}

{% block body %}
<div class="container">
    <h1>Conditions Générales d'Utilisation</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod risus sit amet lectus accumsan, euismod
        tristique risus tincidunt. Maecenas eget massa ac enim pulvinar ultrices. Quisque euismod, risus eget aliquam
        placerat, enim enim porta neque, eget aliquam magna neque eget leo. Donec ultricies accumsan mauris, ac ultrices
        erat aliquam sit amet. Nunc sed accumsan risus. Proin sit amet tincidunt risus.
    </p>

    <p>
        Praesent euismod risus sit amet lectus accumsan, euismod tristique risus tincidunt. Maecenas eget massa ac enim
        pulvinar ultrices. Quisque euismod, risus eget aliquam placerat, enim enim porta neque, eget aliquam magna neque
        eget leo. Donec ultricies accumsan mauris, ac ultrices erat aliquam sit amet. Nunc sed accumsan risus. Proin sit
        amet tincidunt risus.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod risus sit amet lectus accumsan, euismod
        tristique risus tincidunt. Maecenas eget massa ac enim pulvinar ultrices. Quisque euismod, risus eget aliquam
        placerat, enim enim porta neque, eget aliquam magna neque eget leo. Donec ultricies accumsan mauris, ac ultrices
        erat aliquam sit amet. Nunc sed accumsan risus. Proin sit amet tincidunt risus.
    </p>

    <p>
        Praesent euismod risus sit amet lectus accumsan, euismod tristique risus tincidunt. Maecenas eget massa ac enim
        pulvinar ultrices. Quisque euismod, risus eget aliquam placerat, enim enim porta neque, eget aliquam magna neque
        eget leo. Donec ultricies accumsan mauris, ac ultrices erat aliquam sit amet. Nunc sed accumsan risus. Proin sit
        amet tincidunt risus.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod risus sit amet lectus accumsan, euismod
        tristique risus tincidunt. Maecenas eget massa ac enim pulvinar ultrices. Quisque euismod, risus eget aliquam
        placerat, enim enim porta neque, eget aliquam magna neque eget leo. Donec ultricies accumsan mauris, ac ultrices
        erat aliquam sit amet. Nunc sed accumsan risus. Proin sit amet tincidunt risus.
    </p>
</div>
{% endblock %}