<footer class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/cgv" class="nav-link px-2 text-white">CGV</a></li>
      <li><a href="/cgu" class="nav-link px-2 text-white">CGU</a></li>
    </ul>
  </div>
  <div class="container text-center">
    <small>Projet Symfony développé avec ❤️ pour le CIEL de l'UE316</small>
  </div>
</footer>